@font-face {
    font-family: "SF Pro Display Bold";
    src: url("../../assets/fonts/SF Pro Display/SF-Pro-Display-Bold.otf");
}
@font-face {
    font-family: "SF Pro Text Semibold";
    src: url("../../assets/fonts/SF Pro Text/SFProText-Semibold.ttf");
}
@font-face {
    font-family: "SF Pro Text Bold";
    src: url("../../assets/fonts/SF Pro Text/SFProText-Bold.ttf");
}
@font-face {
    font-family: "SF Pro Text Regular";
    src: url("../../assets/fonts/SF Pro Text/SFProText-Regular.ttf");
}